@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

.nav {
    color: black;
    text-align: end;
    width: 100%;
    height: 65px;
    font-size: large;
    vertical-align: initial;
    position: relative;
    top: 0;
    display: inherit;
    justify-items: start;
    background-color: rgb(43, 224, 224);
}

.navLink:hover {
    background-color: rgb(214, 250, 8);
}
.navLink {
    position: relative;
    text-justify: inherit;
    margin: 1vh;
    background-color: rgb(229, 255, 80);
    border-radius: 0.5em;
    text-decoration: none;
    margin-inline-end: 0.5em;
    padding: 0.25em;
    cursor:pointer;
    filter: drop-shadow(3px 3px 4px #5e5e61);
}
li {
    padding: 7.5px;
    display: inline-block;
}
.appLogo{
    position: absolute;
    background-color: lawngreen;
    border: solid 1px ;
    border-radius: 5px;
    left: 10px;
    padding: 2px;
    margin: 2px;
    top: 10px;
    filter: drop-shadow(6px 6px 4px #5e5e61);
}