.nav {
    color: black;
    text-align: end;
    width: 100%;
    height: 50px;
    font-size: large;
    vertical-align: initial;
    position: relative;
    top: 0;
    display: inherit;
    justify-items: start;
    background-color: rgb(43, 224, 224);
}

.navLink {
    position: relative;
    text-justify: inherit;
    margin: 1vh;
    background-color: rgb(229, 255, 80);
    border-radius: 0.5em;
    text-decoration: none;
    margin-inline-end: 0.5em;
    padding: 0.25em;
}
li {
    padding: 7.5px;
    display: inline-block;
}
.appLogo{
    position: absolute;
    background-color: lawngreen;
    border: solid 1px ;
    border-radius: 5px;
    left: 10px;
    padding: 2px;
    margin: 2px;
    top: 10px;
}