.box {
    width: 450px;
    background-color:lightslategray;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    justify-self: center;
    justify-items: center;
    display: inline-block;
}
li .containerBox{
    background-color: lightsteelblue;
    border: 1px solid black;
    display: block;
}